<%- include('templates/header.ejs') -%>
    <h1>My Friend List</h1>
    
    <ul>
        <% friends.forEach(function(friend){ %>
            <li> <%= friend %> </li>
        <% }); %>
    </ul>
    
    <form action="/addFriend" method="POST">
        <input type="text" name="newFriend" placeholder="Add new name">
        <button class="btn btn-info">Add</button>
    </form>
<%- include('templates/footer.ejs') -%>
